<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Kernel"/>
    </assemblyBinding>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" />
        <bindingRedirect oldVersion="2.111.6.20" newVersion="2.112.1.0" />
        <bindingRedirect oldVersion="10.1.0.400" newVersion="2.112.1.0" />

      </dependentAssembly>
    </assemblyBinding>

  </runtime>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>